#showMobilePreview {
    z-index: 9999;
     width: 391px;
    height: 768px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.mobile_preview_header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background: #eeeff2;
    text-align: center;
    line-height: 40px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.mobile_preview_header_icon {
    display: inline-block;
    width: 65px;
    height: 10px;
    background: #c8c9cc;
    border-radius: 9px;
    vertical-align: middle;
    margin-top: 18px;
}

.mobile_preview_frame {
    width: 375px;
    min-height: 294px;
    height: 667px;
    z-index: 800;
    max-height: calc(100vh - 166px);
    top: 40px;
    left: 0;
    border: 6px solid #eeeff2;
    position: relative;
    background-color: #fff;
    display: block;
}

#YuFrameMobilePreview {
    border: none;
    width: 375px;
    height: 100%;
}

.mobile_preview_footer {
    display: block;
    position: absolute;
    margin-top: 40px;
    z-index: 700;
    left: 0;
    height: 52px;
    width: 100%;
    background: #eeeff2;
    text-align: center;
    line-height: 45px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.mobile_preview_footer_icon {
    display: inline-block;
    width: 43px;
    height: 43px;
    background: #c8c9cc;
    border-radius: 50%;
    vertical-align: middle;
}

      /* 全局属性
* 页边距 padding: 30px;
* 全文字体 font-family: ptima-Regular;
* 英文换行 word-break: break-all;
*/
  #shui-mo {
      font-size: 15px;
      letter-spacing: 0.05em;
      color:#595959;
      height: 96%;
      overflow: scroll;
  }

/* 段落，下方未标注标签参数均同此处
 * 上边距 margin-top: 5px;
 * 下边距 margin-bottom: 5px;
 * 行高 line-height: 26px;
 * 词间距 word-spacing: 3px;
 * 字间距 letter-spacing: 3px;
 * 对齐 text-align: left;
 * 颜色 color: #3e3e3e;
 * 字体大小 font-size: 16px;
 * 首行缩进 text-indent: 2em;
 */
#shui-mo p {
    margin: 1em 4px;
}

/* 一级标题 */
#shui-mo h1 {
    margin: 1.2em 0 1em;
    padding: 0;
    font-weight: bold;
    color:#35b378;
}

/* 一级标题内容 */
#shui-mo h1 .content {
}

/* 一级标题修饰 请参考有实例的主题 */
#shui-mo h1:after {
}

/* 二级标题 */
#shui-mo h2 {
    bmin-height: 32px;
    line-height: 32px;
    border-bottom: solid 1px #000000;
    color: #35b378;
    display: inline-block;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-color: #35b378;
    padding-top: 5px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-size: 23px;
    margin: 1em 0 0rem 0;
    padding: 0.5em 0;
    text-align: leftt;
    font-weight: bold;
}

/* 二级标题内容 */
#shui-mo h2 .content {
}

/* 二级标题修饰 请参考有实例的主题 */
#shui-mo h2:after {
}

/* 三级标题 */
#shui-mo h3 {
    margin: 1.2em 0 1em;
    padding: 0;
    font-weight: bold;
    color: #35b378;
}

/* 三级标题内容 */
#shui-mo h3 .content {
}

/* 三级标题修饰 请参考有实例的主题 */
#shui-mo h3:after {
}

/* 无序列表整体样式
 * list-style-type: square|circle|disc;
 */
#shui-mo ul {
}

/* 有序列表整体样式
 * list-style-type: upper-roman|lower-greek|lower-alpha;
 */
#shui-mo ol {
}

/* 列表内容，不要设置li
 */
#shui-mo li section {
    margin: 10px 0;
}

/* 引用
 * 左边缘颜色 border-left-color: black;
 * 背景色 background: gray;
 */
#shui-mo blockquote {
    margin: 10px 5px;
    border-left: 3px solid #35b378;
    border-right: 0px solid #35b378;
    color: #616161;
    quotes: none;
    background: #FBF9FD
}

/* 引用文字 */
#shui-mo blockquote p {
}

/* 链接
 * border-bottom: 1px solid #009688;
 */
#shui-mo a {
    color: #35b378;
    border-bottom: 1px solid #35b378;
}

/* 加粗 */
#shui-mo strong {
    color:#35b378;
}

/* 斜体 */
#shui-mo em {
}

/* 加粗斜体 */
#shui-mo em strong {
}

/* 删除线 */
#shui-mo del {
}

/* 分隔线
 * 粗细、样式和颜色
 * border-top: 1px solid #3e3e3e;
 */
#shui-mo hr {
    border: 1px solid #35b378;
    margin: 1.5em auto;
}

/* 图片
 * 宽度 width: 80%;
 * 居中 margin: 0 auto;
 * 居左 margin: 0 0;
 */
#shui-mo p img {
    width: 100%;
}

/* 图片描述文字 */
#shui-mo figcaption {
}

/* 行内代码 */
#shui-mo p code, #shui-mo li code {
    color: #35b378;
}

/* 非微信代码块
 * 代码块不换行 display: -webkit-box !important;
 * 代码块换行 display: block;
 */
#shui-mo pre code {
}

/*
 * 表格内的单元格
 * 字体大小 font-size: 16px;
 * 边框 border: 1px solid #ccc;
 * 内边距 padding: 5px 10px;
 */
#shui-mo table tr th,
#shui-mo table tr td {
}

/* 脚注文字 */
#shui-mo .footnote-word {
    color: #35b378;
}

/* 脚注上标 */
#shui-mo .footnote-ref {
    color: #35b378;
}

/* "参考资料"四个字
 * 内容 content: "参考资料";
 */
#shui-mo .footnotes-sep:before {
}

/* 参考资料编号 */
#shui-mo .footnote-num {
}

/* 参考资料文字 */
#shui-mo .footnote-item p {
}

/* 参考资料解释 */
#shui-mo .footnote-item p em {
}

/* 行间公式
 * 最大宽度 max-width: 300% !important;
 */
#shui-mo .block-equation svg {
}

/* 行内公式
 */
#shui-mo .inline-equation svg {
}
